PORT=3000
MONGODB_URI=mongodb+srv://<user>:<pass>@cluster.mongodb.net/podcasthub?appName=Cluster
MONGODB_TEST_URI=mongodb+srv://<user>:<pass>@cluster.mongodb.net/podcasthub_test?appName=Cluster
JWT_SECRET=supersecretkey_min32chars_changeme
JWT_EXPIRES_IN=2h
